<div class="ui raised segment box">
    <table class="ui celled structured table">
        <thead><tr><div class="table-label">VIEW EVENT</div></tr>
        </thead>
        <tbody>
        {{#event}}
            <tr><td></td><td><strong>original</strong></td></tr>
            <tr><td><strong>Name</strong> </td><td>{{name}}</td></tr>
            <tr><td><strong>People</strong> </td><td>{{people}}</td></tr>
            <tr><td><strong>Description</strong> </td><td>{{description}}</td></tr>
            <tr><td><strong>Manager</strong></td><td>{{manager}}</td></tr>
        {{/event}}
        </tbody>
    </table>
</div>